@media (min-width: 600px) {
    body {
        font-size:large;
        }
}
@media (max-width: 599px) {
    body {
        font-size: x-large;
    }
}
footer{
    color: white;
    background-color: darkslategrey;
    height: 100%;
    padding: 20px;
    text-align: center;
    bottom: auto;
}